*{
  
  background-repeat: no-repeat;
  background-size: 100%;
  margin:0%;
  padding:0%;
  font-family: 'Montserrat', sans-serif;
  
}
body{
  background-color: #4acf88;
}

.main_div{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #4acf88;
  
}
.main_div::before{
  content: "";
  
}
.center_div{
  
  margin: 18.75rem;
  height: 80vh;
  width: 25rem;
  padding: auto;
  border: 2px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 
  border-radius: 1.25rem;

  background-color:white;
  
}


h1{
  /* font-family: 'Baloo Bhai'; */
  font-size: 60px;
  font-weight: bold;
  font-weight: 1000px;
  color: black;
  background: transparent;
  margin-top:0px;
  text-shadow: 5px 5px 5px  rgba(0,0,0,0.2);

}
input{
  background-color:#527ec0;
  border: none;
  outline: none;
  font-weight: 31.25rem;
  height: 1.875rem;
  font-size: 1.25rem;
  border-bottom: 3px solid purple;
  width: 12.5rem;
  font-weight: bold;
  background-color:white;
  color: purple;
  
}
input::placeholder{
  color:purple;
}

.btn:hover{
  background-color: #20bf6b;
  cursor: pointer;
}
ol{
  margin-top: 1.875rem;
  background-color:#527ec0;
  background: transparent;
}
ol li{
  background-color:#527ec0;
  padding-left: 0px;
  text-align: left;
  font-size: 1.25rem;
  font-weight: 31.25rem;
  font-weight: bold;
  min-height: 2.5rem;
  display: flex;
  align-items: center;
  color:purple;
  text-transform: capitalize;
  margin-left: 0.5rem;
  background: transparent;
  /* text-decoration: line-through; */
}
.todo_style {
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: left;
  border: none;
  outline: none;
  align-items: center;
}
.todo_style .btn1{
  width:1.875rem;
  min-height:1.875rem ;
  display: flex;
  justify-content: center;
  align-items: center;
  background:transparent;
  border: none;
  border-radius: 50%;
  color:white;
  margin-left: 0.625rem;
  box-shadow: 0 2px 5px black;
  font-size: 1.25rem;
}
.todo_style .btn1:hover {
  background-color: red;
  cursor: pointer;
}
.delbtn{
  background-color: purple;
  /* border:2px solid red; */
  height:30px;
  width:30px;
  margin-left:20px;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:white;
}
.delbtn:hover{
  
  background-color: white;
  color:red;
  cursor: pointer;
}

@media only screen and (max-width: 880px) { 
  
  .center_div {
    margin: 20.5rem;
    width:80%;
    height: 400px;
    margin-bottom: 20.5rem;
  }
  .todo_style .btn1{
    margin: 0 15px 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  input{
    margin-left: 20px;
    margin-right: 20px;
  }
  .btn{
    margin-top: 20px;
    margin-left: 5px;
    min-height: 40px;
    color:white;
    width:40px;
    font-size:30px;
  }
}